*{

    margin:0;
    padding: 0;
}


.text{

    font-family: 'game-font', cursive;
    color: red;
}


@font-face {
    font-family: game-font;
    src: url(../fonts/gamefonts/Game\ Of\ Squids.otf);
    
}
